<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.board.BoardMapper">

    <select id="getListAll" resultType="project.forums.domain.board.Board">
        select *
        from board
        order by id
    </select>

    <select id="getListOne" resultType="project.forums.domain.board.Board">
        select b.id,b.board_uri,b.board_title,b.board_description,b.member_id,b.board_create_date,
               f.upload_file_name,f.store_file_name,f.regi_date
        from board b inner join file_board_image f on b.board_uri = f.board_uri
        where b.board_uri = #{board_uri}
    </select>

    <insert id="setInsert"  parameterType="project.forums.domain.board.Board">
        insert into board (board_title,board_uri,board_description,
                            upload_file_name,store_file_name,member_id,board_create_date,board_update_date)
        values(#{boardTitle},#{boardUri},#{boardDescription},
               #{uploadFileName},#{storeFileName},
               #{memberId},now(),now());
    </insert>

    <update id="setUpdate" parameterType="project.forums.domain.board.Board">
        update board
        set board_title = #{boardTitle},
            board_description = #{boardDescription}
        where board_title = #{boardTitle} and id = #{id}
    </update>

    <delete id="setDelete" parameterType="project.forums.domain.board.Board">
        delete from board
        where board_title = #{boardTitle} and id = #{id} and member_id=#{member_id}
    </delete>


</mapper>
