<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.board.BoardFavorMapper">

    <select id="getFavorBoards" parameterType="String" resultType="project.forums.domain.board.BoardFavor">
        select  b.id id, board_title, board_uri, board_description, upload_file_name,
                store_file_name, board_create_date, board_update_date,
                b.member_id member_id, bf.favor favor, favor_regiDate
        from board b right join
            board_favor bf on b.id = bf.board_id
        where bf.member_id = #{memberId}
        order by favor_regiDate desc;
    </select>

    <insert id="setInsert" parameterType="Map">
        insert into board_favor (member_id, board_id,favor, favor_regiDate)
            value (#{memberId},#{boardId},1,now());
    </insert>

    <delete id="setDelete" parameterType="Map">
        delete from board_favor
        where member_id =#{memberId} and board_id=#{boardId}
    </delete>

</mapper>
