<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.board.BoardMapper">

    <select id="getListAll" resultType="project.forums.domain.board.Board">
        select *
        from board
        order by id
    </select>

    <select id="getListOne" resultType="project.forums.domain.board.Board">
        select *
        from board b
        where b.board_uri = #{board_uri}
    </select>

    <select id="getListUpdateOne" resultType="project.forums.domain.board.Board">
        select b.id,b.board_uri,b.board_title,b.board_description,b.member_id,b.board_create_date,
               f.upload_file_name,f.store_file_name,f.regi_date
        from board b inner join file_board_image f on b.board_uri = f.board_uri
        where b.board_uri = #{board_uri}
    </select>

    <insert id="setInsert"  parameterType="project.forums.domain.board.Board">
        insert into board (board_title,board_uri,board_description,
                            upload_file_name,store_file_name,member_id,main_category_id,sub_category_id,board_create_date,board_update_date)
        values(#{boardTitle},#{boardUri},#{boardDescription},
               #{uploadFileName},#{storeFileName},
               #{memberId},#{mainCategoryId},#{subCategoryId},
               now(),now());
    </insert>

    <update id="setUpdate" parameterType="project.forums.domain.board.Board">
        update board
        set board_title = #{boardTitle},
            board_description = #{boardDescription}
        where board_uri = #{boardUri} and id = #{id}
    </update>

    <delete id="setDelete" parameterType="project.forums.domain.board.Board">
        delete from board
        where board_title = #{boardTitle} and id = #{id} and member_id=#{member_id}
    </delete>

    <!-- 게시판 순위 리스트 출력 -->

    <select id="getBoardRankList" resultType="project.forums.domain.board.Board">
       <!-- <![CDATA[
            select b.board_uri, id, board_title,
                   board_description, upload_file_name,
                   store_file_name, member_id, board_create_date,
                   board_update_date, ifnull(sum(`게시글`) + sum(`댓글 수`) + sum(`조회수`),0) score
            from (select p.board_uri,count(*) `게시글`,
                         (select count(id)
                          from comment c
                          where available = true
                            and c.board_uri = p.board_uri) `댓글 수`,sum(post_hit) `조회수`
                  from board b right outer join post p on (b.board_uri = p.board_uri )
                  where available = true
                  group by p.board_uri) result right join board b on (result.board_uri = b.board_uri)
            group by b.board_uri
            order by score desc
            limit 4
        ]]>-->
        select * from board order by score desc limit 4;
    </select>

    <select id="getBoardMainCategory" resultType="project.forums.domain.board.BoardMainCategory">
        select *
        from board_main_category
    </select>

    <select id="getBoardSubCategory" resultType="project.forums.domain.board.BoardSubCategory">
        select *
        from board_sub_category
    </select>

    <select id="checkBoardUri" resultType="int">
        select count(*)
        from board
        where board_uri = #{boardUri}
    </select>

</mapper>
