<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.manage.ManageMapper">
    <!-- 하나 일때-->
    <update id="manageDeletePost" parameterType="Map">
        update post
        set
            available = false
        where
            id=#{id} and board_uri = #{boardUri}
    </update>

    <!-- 아이디 삭제 -->
    <update id="manageDeleteListPost" parameterType="Map">
        update post
        set
            available = false
        <where>
            <foreach collection="deleteList" item="item" separator="or">
                id = #{item.id} and board_uri = #{item.boardUri}
            </foreach>
        </where>
    </update>

    <sql id="manageSQLSearchPostList">
        <choose>
            <when test="keyword != null and keyword != ''">
                and (post_writer = #{keyword})
            </when>
        </choose>
    </sql>

    <!--삭제한 댓글 리스트 가져오기 -->
    <select id="manageGetDeletedPostListWithSearch" parameterType="Map" resultType="project.forums.domain.post.Post">
        select *
        from post
        <where>
            <include refid="manageSQLSearchPostList"/>
            and board_uri = #{boardUri}
            and available= false
        </where>

        order by id desc
        limit #{beginPage},#{perPageSize}
    </select>

    <!-- 검색으로 삭제된 아이디의 글 수 조회-->
    <select id="getDeletedPostCount" parameterType="Map">
        select count(*)
        from post
        where 1 = 1
          <if test="keyword != null and keyword != ''">
              and post_writer = #{keyword}
          </if>
            and board_uri = #{boardUri}
            and available = false
    </select>

    <!-- 검색한 아이디의 글 수 조회-->
    <select id="getSearchPostCount" parameterType="Map">
        select count(*)
        from post
        where 1 = 1
        <if test="keyword != null and keyword != ''">
            and post_writer = #{keyword}
        </if>
        and board_uri = #{boardUri}
    </select>

    <update id="setRestorePosts" parameterType="Map">
        update post
        set
        available = true
        <where>
            <foreach collection="restoreList" item="item" separator="or">
                id = #{item.id} and board_uri = #{item.boardUri}
            </foreach>
        </where>
    </update>

</mapper>