<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.category.PostCategoryMapper">

    <select id="getListAll" parameterType="Map" resultType="project.forums.domain.category.PostCategory">
        select *
        from post_category
        where board_uri=#{boardUri}
        order by id
    </select>

    <insert id="setInsert"  parameterType="project.forums.domain.category.PostCategory">
        insert into post_category (board_uri,category_menu,category_regiDate)
        values (#{boardUri},#{categoryMenu},now())
    </insert>

    <update id="setUpdate" parameterType="project.forums.domain.category.PostCategory">
        update post_category
        set
            category_menu = #{categoryMenu},
        where id = #{id} and board_uri=#{boardUri}
    </update>

    <delete id="setDelete" parameterType="project.forums.domain.category.PostCategory">
        delete from post_category
        where board_uri = #{boardUri} and id = #{id} and category_menu=#{categoryMenu}
    </delete>

</mapper>
