<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.category.PostCategoryMapper">

    <select id="getListAll" parameterType="Map" resultType="project.forums.domain.category.PostCategory">
        select *
        from post_category
        where board_uri=#{boardUri}
        order by category_order
    </select>


    <insert id="setInsert"  parameterType="Map">
        insert into post_category (board_uri,category_menu,category_order,category_regiDate)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.boardUri},#{item.categoryMenu},#{item.categoryOrder},now())
            </foreach>
        on duplicate key update category_order = #{categoryOrder}
    </insert>


    <insert id="setUpdateCategoryList"  parameterType="Map">
        insert into post_category (id,board_uri,category_menu,category_order,category_regiDate)
        values
        <foreach collection="newList" item="item" separator=",">
            (#{item.id},#{item.boardUri},#{item.categoryMenu},#{item.categoryOrder},now())
        </foreach>
         on duplicate key update category_order = values(category_order), category_menu = values(category_menu)
    </insert>


    <!-- 추가된 카테고리 처리 -->
    <insert id="setNewInsert" parameterType="Map">
        insert into post_category (board_uri,category_menu,category_order,category_regiDate)
        values
            <foreach collection="newList" item="newList" separator=",">
                (#{newList.boardUri},#{newList.categoryMenu},#{newList.categoryOrder},now())
            </foreach>
        on duplicate key update category_order = values(category_order)
    </insert>

    <!-- 초기 카테고리 설정 -->
    <insert id="createPostCategory" parameterType="String">
        insert into post_category (board_uri, category_menu,category_order,category_regiDate)
        values(#{boardUri},'전체',1,now());
    </insert>


    <delete id="setDeleteCategoryList" parameterType="Map">
        delete from post_category
        <where>
            <foreach collection="deleteList" item="item" separator="or">
                (board_uri = #{boardUri} and id = #{item})
            </foreach>
        </where>

    </delete>




</mapper>
