<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.post.PostMapper">

    <select id="getListAll" resultType="project.forums.domain.post.Post">
        select *
        from post
        where board_uri=#{board_uri}
        order by id
    </select>

    <select id="getListOne" resultType="project.forums.domain.post.Post">
        select *
        from post
        where board_uri = #{boardUri} and id = #{id}
    </select>

    <insert id="setInsert"  parameterType="project.forums.domain.post.Post">
        insert into post (board_uri,post_title,post_writer,post_hit,post_content,post_regiDate)
        values (#{boardUri},#{postTitle},#{postWriter},0,#{postContent},now())
    </insert>

    <update id="setUpdate" parameterType="project.forums.domain.post.Post">
        update post
        set post_title = #{postTitle},
            post_content = #{postContent},
            post_regiDate = #{postRegiDate}
        where board_uri = #{board_uri} and id = #{id} and post_writer=#{postWriter}
    </update>

    <delete id="setDelete" parameterType="project.forums.domain.post.Post">
        delete from post
        where board_uri = #{boardUri} and id = #{id} and post_writer=#{postWriter}
    </delete>

<!--    <insert id="saveProfileImage" parameterType="project.forums.domain.post.Post">-->
<!--        insert into image_profile (member_id,upload_file_name,store_file_name,regi_date)-->
<!--        values (#{memberId},#{uploadFileName},#{storeFileName},now())-->
<!--    </insert>-->

<!--    <select id="loadProfileImage" parameterType="String" resultType="project.forums.domain.post.Post">-->
<!--        select *-->
<!--        from image_profile-->
<!--        where member_id = #{memberId}-->
<!--    </select>-->

<!--    <update id="updateProfileImage" parameterType="project.forums.domain.post.Post">-->
<!--        update image_profile-->
<!--        set upload_file_name = #{uploadFileName},-->
<!--            store_file_name = #{storeFileName},-->
<!--            regi_date = now()-->
<!--        where member_id = #{memberId}-->
<!--    </update>-->

</mapper>
