<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.post.PostMapper">

    <select id="getListAll" parameterType="Map" resultType="project.forums.domain.post.Post">
        select *
        from post p
        where 1 = 1
        <if test="category != null">
            and
            post_category in (
                             select pc.category_menu
                             from post_category pc
                             where pc.category_menu = #{category} and p.board_uri = pc.board_uri
                             )
        </if>
            and board_uri=#{boardUri}
        order by id desc
        limit #{beginPage},#{perPageSize}
    </select>

    <select id="getListOne" resultType="project.forums.domain.post.Post">
        select *
        from post
        where board_uri = #{boardUri} and id = #{id}
    </select>

    <insert id="setInsert"  parameterType="project.forums.domain.post.Post">
        insert into post (board_uri,post_title,post_writer,
                          post_hit,post_content,post_category,
                          post_regiDate)
        values (#{boardUri},#{postTitle},#{postWriter},0,#{postContent},#{postCategory},now())
    </insert>

    <update id="setUpdate" parameterType="project.forums.domain.post.Post">
        update post
        set post_title = #{postTitle},
            post_content = #{postContent},
            post_regiDate = #{postRegiDate}
        where board_uri = #{boardUri} and id = #{id} and post_writer=#{postWriter}
    </update>

    <delete id="setDelete" parameterType="project.forums.domain.post.Post">
        delete from post
        where board_uri = #{boardUri} and id = #{id} and post_writer=#{postWriter}
    </delete>

    <select id="getTotalPosts" parameterType="String">
        select count(*)
        from post
        where 1=1
        <if test="category != null">
            and
            post_category in (
                            select pc.category_menu
                            from post_category pc
                            where pc.category_menu = #{category}  and pc.board_uri = board_uri)
        </if>
            and board_uri=#{boardUri}
    </select>

    <!-- 게시글 조회수 추가 -->
    <update id="viewsUp" parameterType="project.forums.domain.post.Post">
        update post
        set post_hit = post_hit +1
        where id = #{id}
    </update>

</mapper>
