<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.forums.domain.post.PostMapper">


    <sql id="search">
        <choose>
            <when test="keyword != null and keyword != ''">
                and (post_writer like CONCAT('%',#{keyword},'%'))
            </when>
            <otherwise>
                and 1!=1
            </otherwise>
        </choose>
    </sql>

<!--    공지글포함 글 가져오기 -->
    <select id="getNoticePosts" parameterType="String" resultType="project.forums.domain.post.Post">
        select p.id id, p.board_uri board_uri, post_title, post_writer,post_hit, post_content,post_notice,post_category,p.post_regiDate post_regiDate
        from post p,post_notice pn
        where p.id = pn.post_id and pn.board_uri = #{boardUri}
        order by pn.post_regiDate desc;
    </select>

<!-- 오늘 날짜 글 가져오기 -->
    <select id="getTodayPosts" parameterType="String" resultType="int">
        select count(*)
        from post
        where board_uri = #{boardUri} and
              DATE_FORMAT(post_regiDate,'%Y-%m-%d') = CURDATE()
    </select>


    <!-- 전체 글 가져오기 -->
    <select id="getListAll" parameterType="Map" resultType="project.forums.domain.post.Post">
        select *
        from post p
        where 1 = 1
        <if test="category != null">
            and
            post_category in (
                             select pc.category_menu
                             from post_category pc
                             where pc.category_menu = #{category} and p.board_uri = pc.board_uri
                             )
        </if>
        and board_uri=#{boardUri}
        and available= true
        order by id desc
        limit #{beginPage},#{perPageSize}
    </select>

    <select id="getListWithSearch" parameterType="Map" resultType="project.forums.domain.post.Post">
        select *
        from post p
        where 1 = 1
        <include refid="search"/>
        and board_uri=#{boardUri}
        and available= true
        order by id desc
        limit #{beginPage},#{perPageSize}

    </select>

<!--    공지 사이트에서 5개의 글을 가져온다 운영자가 쓴 글을-->
    <select id="getManageNoticePost" resultType="project.forums.domain.post.Post">
        select *
        from post
        where post_writer = 'admin'
        order by id desc
        limit 0,5
    </select>

    <select id="getListOne" resultType="project.forums.domain.post.Post">
        select *
        from post
        where board_uri = #{boardUri} and id = #{id}
    </select>

    <insert id="setInsert"  parameterType="project.forums.domain.post.Post">
        insert into post (board_uri,post_title,post_writer,
                          post_hit,post_content,post_category,
                          post_regiDate)
        values (#{boardUri},#{postTitle},#{postWriter},0,#{postContent},#{postCategory},now())
    </insert>

    <update id="setUpdate" parameterType="project.forums.domain.post.Post">
        update post
        set post_title = #{postTitle},
            post_content = #{postContent},
            post_regiDate = #{postRegiDate}
        where board_uri = #{boardUri} and id = #{id} and post_writer=#{postWriter}
    </update>

    <delete id="setDelete" parameterType="project.forums.domain.post.Post">
        delete from post
        where board_uri = #{boardUri} and id = #{id} and post_writer=#{postWriter}
    </delete>

    <!-- 게시판 입력한 카테고리 전체 글 수 -->
    <select id="getTotalCategoryPosts" parameterType="String">
        select count(*)
        from post
        where 1=1
        <if test="category != null">
            and
            post_category in (
                            select pc.category_menu
                            from post_category pc
                            where pc.category_menu = #{category}  and pc.board_uri = board_uri)
        </if>
            and board_uri=#{boardUri}
    </select>

    <!--게시판 전체 글 수-->
    <select id="getTotalBoardPosts" parameterType="String">
        select count(*)
        from post
        where board_uri = #{boardUri}
    </select>

    <!-- 검색한 회원의 게시글 수 출력 -->
    <select id="getTotalSearchPosts" parameterType="Map">
        select count(*)
        from post
        where board_uri = #{boardUri} and post_writer = #{memberId}
        order by desc post_regiDate
    </select>

    <!-- 게시글 조회수 추가 -->
    <update id="viewsUp" parameterType="project.forums.domain.post.Post">
        update post
        set post_hit = post_hit +1
        where id = #{id}
    </update>

</mapper>
